<div class="container-fluid" style="padding: 0 30px;">
  <div class="text-center text-black" style="margin: 80px;">
      <p>猫好きなみなさんの</p>
      <p>"I ♥ CAT"な想いを聞かせてください。</p>
  </div>
  
  <div class="card-deck">
    <div class="row">
      
     
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">  
         <%= link_to image_tag("c.jpeg", class: "card-img-top"), item_path(1) %>
        <div class="card-body">
          <p class="card-text">サイベリアン</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg" class="card-img-top" alt="マンチカン">
        <div class="card-body">
          <p class="card-text">マンチカン</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px ;">
        <img src="/assets/c.jpeg" class="card-img-top" alt="ロシアンブルー">
        <div class="card-body">
          <p class="card-text">ロシアンブルー</p>
        </div>
      </div>
     
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg" class="card-img-top" alt="ロシアンブルー">
        <div class="card-body">
          <p class="card-text">ロシアンブルー</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg" class="card-img-top" alt="スコティッシュ">
        <div class="card-body">
          <p class="card-text">スコティッシュ</p>
        </div>
      </div>
      
      
    </div>
      
    <div class="row">
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg" class="card-img-top" alt="スコティッシュ">
        <div class="card-body">
          <p class="card-text">スコティッシュ</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg" class="card-img-top" alt="マンチカン">
        <div class="card-body">
          <p class="card-text">マンチカン</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg " class="card-img-top" alt="ロシアンブルー">
        <div class="card-body">
          <p class="card-text">ロシアンブルー</p>
        </div>
      </div>
     
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg " class="card-img-top" alt="ロシアンブルー">
        <div class="card-body">
          <p class="card-text">ロシアンブルー</p>
        </div>
      </div>
      
      <div class="card col p-0 border border-0" style="margin: 0 15px 50px;">
        <img src="/assets/c.jpeg" class="card-img-top" alt="スコティッシュ">
        <div class="card-body">
          <p class="card-text">スコティッシュ</p>
        </div>
      </div>
      
    </div>  
  </div>
</div>