<div class="container px-0 mx-0">

  <div class="text-center text-black m-6">
      <p>猫好きなみなさんの</p>
      <p>"I ♥ CAT"な想いを聞かせてください。</p>
  </div>

  
    <div class="row">
      
      <div class="cards col p-0 border border-0">  
         <a href="/items/2"><img class="card-img-top" alt="スコティッシュフォールド" src="/assets/001_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">スコティッシュフォールド</p>
        </div>
      </div>
      
      <div class="cards col p-0 border border-0">
        <a href="/items/3"><img class="card-img-top" alt="マンチカン" src="/assets/002_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">マンチカン</p>
        </div>
      </div>
      
      <div class="cards col p-0 border border-0">
        <a href="/items/4"><img class="card-img-top" alt="ロシアンブルー" src="/assets/003_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">ロシアンブルー</p>
        </div>
      </div>
     
      <div class="cards col p-0 border border-0">
        <a href="/items/5"><img class="card-img-top" alt="アメリカンショートヘア" src="/assets/004_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">アメリカン<br>ショートヘア</p>
        </div>
      </div>
      
      <div class="cards col p-0 border border-0">
        <a href="/items/6"><img class="card-img-top" alt="ベンガル" src="/assets/005_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">ベンガル</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cards col p-0 border border-0">
        <a href="/items/7"><img class="card-img-top" alt="ノルウェージャンフォレストキャット" src="/assets/006_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">ノルウェージャンフォレストキャット</p>
        </div>
      </div>
      
      <div class="cards col p-0 border border-0">
        <a href="/items/8"><img class="card-img-top" alt="ブリティッシュショートヘア" src="/assets/007_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">ブリティッシュショートヘアー</p>
        </div>
      </div>
      
      <div class="cards col p-0 border border-0">
       <a href="/items/9"><img class="card-img-top" alt="エキゾチックショートヘア" src="/assets/008_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">エキゾチック<br>ショートヘアー</p>
        </div>
      </div>
     
      <div class="cards col p-0 border border-0">
        <a href="/items/10"><img class="card-img-top" alt="ラグドール" src="/assets/009_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">ラグドール</p>
        </div>
      </div>
      
      <div class="cards col p-0 border border-0">
        <a href="/items/11"><img class="card-img-top" alt="メインクーン" src="/assets/010_s.jpg" /></a>
        <div class="card-body">
          <p class="card-text">メインクーン</p>
        </div>
      </div>
    </div>  

</div>

