
a:link { color: #008899; }
a:visited { color: #008899; }
a:hover { color: #7EBEA5; }
a:active { color: #7EBEA5; }

.text-center a {
    color: #FFFFFF;
}

.delete a {
    color: #FFFFFF;
}

.btn-success {
    background-color: #B0CA71;
    border: 0;
}

.good {
    background-color: #F4B3C2;
}

.g {
    color: #FFFFFF;
}

.no-good {
    background-color: #E9EEF3;
}

.ns {
    color: #656565;
}

.btn-danger {
    background-color: #F73B70;
}