
a:link { color: #008899; }
a:visited { color: #008899; }
a:hover { color: #7EBEA5; }
a:active { color: #7EBEA5; }

.text-center a {
    color: #FFFFFF;
}

.delete a {
    color: #FFFFFF;
}

.btn-success {
    background-color: #B0CA71;
    border: 0;
}

.good {
    background-color: #F4B3C2;
    padding-right: 13px
}

.g {
    color: #FFFFFF;
}

.no-good {
    background-color: #E9EEF3;
    padding-right: 13px
}

.ns {
    color: #656565;
}

.btn-danger {
    background-color: #F73B70;
}

.gs {
    font-size: 13px;
    font-weight: 500;
    vertical-align: middle;
}

.page-item.active
.page-link {
    background-color: #69C2C7;
    border-color: #69C2C7;
}